body {
  font-family: Cooper Black;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
}
section {
  position: static;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

main {
  height: auto;
  padding-top: 10rem;
}

.Designs {
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design-grid {
  display: grid;
  grid-gap: 50px;
  justify-items: center;
}

.design-item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 30px;
  align-items: center;
}

.design-description {
  margin-top: 1rem;
}

.design-item img {
  align-items: center;
}

footer {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer .logo img {
  height: 200px;
  width: 200px;
}
